[submodule "visualization/Visualization_Covid-19-Vaccine-Simulator"]
	path = visualization/Visualization_Covid-19-Vaccine-Simulator
	url = https://github.com/JJShen2000/Covid-19-Vaccine-Simulator.git
