.content{
    width: 80%;
    background: #F7F7F7;
    position:absolute;
    top: 100;
    left: 20%; 
    margin-top: 120px
    }
   
   .content_left{
    width:40%;
    /* background: #F7F7F7; */
    position:absolute;
    top: 200;
    left: 20%; 
    margin-top: 250px
    }

    .content_right{
        width:40%;
        /* background: #F7F7F7; */
        position:absolute;
        top: 200;
        left: 60%; 
        margin-top: 250px
    }
   
   .top_metrics {
    background: #EAEAEA;
    height: 200px;
    width:85%;
    position:absolute;
    top: 0;
    right: 0;
    }
   
   .left_menu {
    width: 15%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    /* z-index: 999; */
    /* background: #89a7c5; */
    margin-top: 120px;
   }

   .top_bar {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    /* z-index: 999; */
    background: #1a3855;
    text-align:center;
    line-height: 100px;
    color: #EAEAEA
   }

   .line_chart{
    width:40%;
    position:absolute;
    top: 200;
    left: 20%; 
    margin-top: 1000px
}